node_modules
dist
.tmp
.sass-cache
bower_components
app/assets/img/team/
*.iml
.idea
*.swp
images
*.sublime*
*.DS_Store
bootstrap-material-design
/npm-debug.log
/yarn.lock
/coverage
.DS_Store
.env
yarn-debug.log*
yarn-error.log*

