$color-primary-major: #98ED00;	// Main Primary color */
$color-primary-white: #E0EFC5;
$color-primary-less: #B3E656;
$color-primary-more: #74B400;
$color-primary-dark: #558400;
$color-secondary-1-major: #133CAC;	// Main Secondary color (1) */
$color-secondary-1-white: #99A0B5;
$color-secondary-1-less: #4A63A7;
$color-secondary-1-more: #092A83;
$color-secondary-1-dark: #021B5F;
$color-secondary-2-major: #FFAD00;	// Main Secondary color (2) */
$color-secondary-2-white: #FFF1D3;
$color-secondary-2-less: #F8C65C;
$color-secondary-2-more: #C28400;
$color-secondary-2-dark: #8E6000;
$color-complement-major: #D0006E;	// Main Complement color */
$color-complement-white: #D5B0C4;
$color-complement-less: #CA4B8E;
$color-complement-more: #9E0054;
$color-complement-dark: #74003D;
$rgba-primary-major: rgba(152,237,  0,1);	// Main Primary color */
$rgba-primary-white: rgba(224,239,197,1);
$rgba-primary-less: rgba(179,230, 86,1);
$rgba-primary-more: rgba(116,180,  0,1);
$rgba-primary-dark: rgba( 85,132,  0,1);
$rgba-secondary-1-major: rgba( 19, 60,172,1);	// Main Secondary color (1) */
$rgba-secondary-1-white: rgba(153,160,181,1);
$rgba-secondary-1-less: rgba( 74, 99,167,1);
$rgba-secondary-1-more: rgba(  9, 42,131,1);
$rgba-secondary-1-dark: rgba(  2, 27, 95,1);
$rgba-secondary-2-major: rgba(255,173,  0,1);	// Main Secondary color (2) */
$rgba-secondary-2-white: rgba(255,241,211,1);
$rgba-secondary-2-less: rgba(248,198, 92,1);
$rgba-secondary-2-more: rgba(194,132,  0,1);
$rgba-secondary-2-dark: rgba(142, 96,  0,1);
$rgba-complement-major: rgba(208,  0,110,1);	// Main Complement color */
$rgba-complement-white: rgba(213,176,196,1);
$rgba-complement-less: rgba(202, 75,142,1);
$rgba-complement-more: rgba(158,  0, 84,1);
$rgba-complement-dark: rgba(116,  0, 61,1);

